* {
    padding: 0;
    margin: 0;
}

button:focus {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(232, 239, 240);
}

.header {
    margin-top: 40px;
}

.header-logo {
    margin-bottom: 20px;
}

.header .header-menu ul {
    list-style: none;
}

.header .header-menu ul li {
    float: left;
    border-right: 1px dashed #111;
    line-height: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.header .header-menu ul li:last-child {
    border-right: none;
}

.header-mailbox {
    margin-left: -3px;
    min-height: 100px;
    background-color: #ffff;
}

.header-mailbox .stemp {
    position: absolute;
    margin-left: 410px;
    margin-top: -70px;
}

.header-mailbox .submit-zone {
    padding: 20px;
    margin-top: -15px;
}

.header-mailbox .submit-zone h5 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
}

.header-mailbox .submit-zone input[type=email] {
    margin-top: 10px;
    width: 298px;
    padding: 5px;
    margin-right: 5px;
}

.header-mailbox .submit-zone button {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(187, 201, 229);
}

.bg {
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.banner {
    margin-top: 15px;
    margin-left: 30px;
}

.banner h2 {
    margin-top: 30px;
}

.banner-img {
    width: 100;
    padding: 10px;
    height: 320px;
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
}

.banner-img .redBox {
    background-color: rgb(239, 87, 65);
    height: 300px;
}

.discount {
    margin-top: 20px;
    width: 70%;
    background-image: url(../images/BorderTemplate.png);
    text-align: center;
}

.discount h5 {
    color: rgb(193, 193, 193);
    font-weight: bold;
    margin-top: 15px;
}

.discount h5:nth-child(1) {
    margin-top: 25px;
}

.border-line {
    height: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    opacity: 0.5;
}

.border-dashed {
    height: 5px;
    border-bottom: 1px dashed gray;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
}

.discount h6 {
    margin-top: 10px;
    font-weight: bold;
}

.discount h5 span {
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.discount-value,
.deal-value {
    float: left;
    margin-left: 20%;
}

.deal-value h6 {
    color: rgb(193, 193, 193);
    font-weight: bold;
}

.deal-value p {
    font-weight: bold;
}

.you-save h6 {
    color: rgb(193, 193, 193);
    font-weight: bold;
}

.you-save p {
    font-weight: bold;
}

.react {
    margin-top: 20px;
}

.section-1,
.section-3,
.section-2 {
    margin-top: 40px;
}

.section-2 {
    margin-left: 30px;
}

.section-2 button {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 270px;
    background-color: rgb(200, 224, 133);
    border-radius: 15px;
    color: #5D7730;
    padding: 10px;
}

.section-3 img {
    width: 100%;
}

.bg-sec5 {
    width: 100%;
    border: 1px dashed rgb(193, 193, 193);
    background-color: rgb(248, 248, 248);
    border-top-style: hidden;
    border-bottom-style: hidden;
}

.bg-item {
    width: 100%;
    border: 1px dashed rgb(193, 193, 193);
    background-color: rgb(248, 248, 248);
    border-top-style: hidden;
}

.bg-sec5 {
    padding: 20px 35px 0 35px;
}

.bg-sec5:first-child,
.bg-item:first-child {
    border-left: none;
}

.bg-sec5:last-child,
.bg-item:last-child {
    border-right: none;
}

.sec4-items h5 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.sec4-items p {
    float: left;
    margin-right: 30px;
    font-size: 16px;
    line-height: 40px;
}

.sec4-items button {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgb(200, 224, 133);
    width: 100px;
    letter-spacing: 1px;
}

.border-item {
    width: 300px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    color: rgb(182, 182, 182);
}

.sec4-items .redBox {
    background-color: rgb(239, 87, 65);
    height: 150px;
}

.sec4-items .border-item h6 {
    margin-top: 10px;
    float: left;
    line-height: 20px;
    margin-right: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: 1px dashed #000;
    font-weight: bold;
}

.sec4-items .border-item h6 span {
    line-height: 30px;
    color: black;
    font-weight: bold;
}

.sec4-items .border-item h6:last-child {
    float: none;
    border-right: none;
}

.bg-sec5 p {
    margin-top: 20px;
}

.bg-sec5 p span {
    color: rgb(155, 187, 65);
}

.bg-sec5 button {
    margin-bottom: 20px;
    padding: 4px;
    border: none;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
}

.credit {
    margin-top: 30px;
    text-align: center;
    color: rgb( 149, 149, 149);
}